{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Perrito</h1>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente ut commodi sunt. Molestiae, numquam ducimus hic quia commodi, eius laboriosam ab mollitia reiciendis provident illum recusandae deleniti deserunt ut?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/perrito.jpeg" alt="" class="img-thumbnail">
    </div>

</div>


{{> footer }}